<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
  <title>Book List</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

<div class="container">
  <h1>Books</h1>
  <div class="col-md-4" style="padding:20px 0">
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Log Out" class="btn btn-danger"/>
    </form>
  </div>
  <table class="table table-striped">
    <tr>
      <th>BookID</th>
      <th>ISBN</th>
      <th>Title</th>
      <th>Author</th>
      <th>Year</th>
      <th>Price</th>
      <th>Library</th>
      <th colspan="2"></th>
    </tr>
    <tr th:each = "carte : ${lista_carti}">
      <td th:text="${carte.id}"></td>
      <td th:text="${carte.isbn}"> </td>
      <td th:text="${carte.title}"> </td>
      <td th:text="${carte.autor.lastName} +' '+ ${carte.autor.firstName}"> </td>
      <td th:text="${carte.year}"> </td>
      <td th:text="${carte.price}"> </td>
      <!--<td th:text="${carte.editura.name}"></td>-->
      <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${carte.id})}" class="btn btn-danger">Delete</a></td>
      <td sec:authorize="hasAuthority('ADMIN')"><a href="/edit" th:href="@{/edit/{id}(id=${carte.id})}" class="btn btn-info">Edit</a></td>
    </tr>

  </table>
  <div sec:authorize="hasAuthority('ADMIN')">
    <a href="/addBook" type="button" class="btn btn-success" >Add Book</a>
  </div>

</div>
</body>
</html>
<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carti</title>
</head>
<body>
<h1>Lista cartilor</h1>
<div>
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Titlu</th>
      <th>ISBN</th>
      <th>Editura</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="carte: ${lista_carti}">
        <td th:text="${carte.id}">1</td>
        <td th:text="${carte.title}">2</td>
        <td th:text="${carte.isbn}">3</td>-->
        <!--<td th:text="${carte.getAutori().autorName()}"></td>-->
<!--<td th:text="${carte.editura.nume}">5</td>
</tr>
</tbody>
</table>
</div>

</body>
</html>-->